<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\..\..\..\artifacts\publish\</PublishDir>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
  </PropertyGroup>

  <Target Name="RenamePublishOutput" AfterTargets="Publish">
    <Move SourceFiles="$(PublishDir)NexStrap.exe" DestinationFiles="$(PublishDir)NexStrap-x64.exe" Condition="Exists('$(PublishDir)NexStrap.exe')" />
    <Copy SourceFiles="$(PublishDir)NexStrap-x64.exe" DestinationFiles="$(PublishDir)NexStrap.exe" />
  </Target>

</Project>
